<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="header-nav">
    <header id="menu-header" >
        <img id="logo" th:src="@{/assets/cover.png}"/>
    </header>
    <nav id="menu">
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
        <ul id="menu-list">
            <li class="menu-item">
                <a href="/about/">ABOUT US</a>
            </li>
            <li class="menu-item">
                <a href="/contact">CONTACT US</a>
            </li>
            <li class="menu-item">
                <a href="/book">BOOK APPOINTMENT</a>
            </li>
            <li class="menu-item">
                <a href="/legal">LEGAL STUFF</a>
            </li>
        </ul>
    </nav>

</div>

</html>