<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<nav aria-label="main navigation" class="navbar" role="navigation" th:fragment="header-nav">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
<!--            <img alt="" id="logo" th:src="@{/assets/machine.jpg}">-->
            <h1 class="title is-4">CLEAN</h1>

        </a>
        <!--            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">-->
        <!--                <span aria-hidden="true"></span>-->
        <!--                <span aria-hidden="true"></span>-->
        <!--                <span aria-hidden="true"></span>-->
        <!--            </a>-->
    </div>
    <div class="navbar-end">
        <a href="/floors" class="navbar-item">Floors</a>
        <a href="/carpetup" class="navbar-item">Carpet/Upholestery</a>
        <a href="/estimate" class="navbar-item">Free Estimate</a>
        <a href="#" class="navbar-item">Other</a>
    </div>
</nav>
</html>