<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/master-layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Estimate</title>
</head>

<section class="hero is-fullheight-with-navbar" layout:fragment="content">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Get estimate
            </p>
        </div>
    </div>
</section>

</html>