<!DOCTYPE html>
<html layout:decorate="layout/master-layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>


<section class="hero is-primary is-fullheight-with-navbar" layout:fragment="content">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Cleaning Services
            </p>
        </div>
    </div>
</section>
<!--<section class="hero is-primary" layout:fragment="content">-->
<!--    <div class="hero-body">-->
<!--        <div class="container">-->
<!--            <h1 class="title">-->
<!--                Primary title-->
<!--            </h1>-->
<!--            <h2 class="subtitle">-->
<!--                Primary subtitle-->
<!--            </h2>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

</html>