<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/bulma.css}"/>
    <link rel="stylesheet" th:href="@{/css/new-styles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>Home</title>

</head>
<body>
<div class="container">
    <h1 class="hero">hero here</h1>
    lkjl;kj
</div>
<div class="heading">Heading here</div>
<div class="block"><h1 class="h2"></h1></div>
</body>
</html>